{{#* inline "title"}}{{_title}}{{/inline}}
{{#* inline "head"}}
<script type="text/javascript" src="/static/tiny-date-picker.min.js"></script>
<link rel="stylesheet" href="/static/tiny-date-picker.min.css">
{{/inline}}

{{#* inline "page"}}

<section class="section">
    <div class="container">
        <form method="post" action="/clip/{{shortcode}}" class="box">
            <div class="notification is-warning is-light">
                This clip is password protected. Please enter the password below in order to view the clip.
            </div>
            {{> error_box _errors=_errors header="Error Retrieving Clip" }}
            <div class="columns is-centered">
                <div class="column">
                    <div class="field">
                        <label for="password" class="label">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" placeholder="Password" name="password" value="">
                            <span class="icon is-left"><i class="fas fa-lock"></i></span>
                        </div>
                    </div>
                    <div class="field">
                        <div class="level">
                            <div class="level-item has-text-centered">
                                <div class="control is-centered">
                                    <input type="submit" class="button is-link has-text-weight-bold" value="Unlock">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

{{/inline}}
{{> (lookup this "_base")}}