<header>
    <section class="hero is-link is-small">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item is-size-3 has-text-weight-bold" href="/">
                            <img src="/static/logo.svg" class="mr-2">
                            ClipStash
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </section>
</header>